@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

/* nav img {
  width: 20%;
  height: 10%;
} */

nav {
  width: 100%;
  color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.dark-nav {
  transition: 0.5s;
  background: #212ea0;
}

.menu-icon {
  display: none;
}

/* media query */
@media (mix-width: 1000px) {
  .logo {
    width: 140px;
  }

  nav ul li {
    margin: 10px 15px;
  }
}

/* small query */
@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    position: fixed;
    top: 0;

    bottom: 0;
    background: #212ea0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .hide-mobile-menu {
    right: -200px;
  }
}
